<mat-toolbar>
  <mat-icon *ngIf="this.isHome" routerLink="/">home</mat-icon>
  <mat-icon *ngIf="!this.isHome" routerLink="/">arrow_back</mat-icon>
  <span>{{title}}</span>
  <span class="full-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</mat-toolbar>
<div [hidden]="!loading" class="loader">
  <mat-spinner></mat-spinner>
</div>
<div [hidden]="loading" class="router-output">
  <router-outlet></router-outlet>
  <footer class="mat-small">Data provided by Marvel. © 2014 Marvel</footer>
</div>
